@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.first-session{
	background-image: url(../assets/img.p/imagemain.png);
	background-repeat: no-repeat;
    background-size: cover;
}

.logo-title img{
	
	display: flex;
	justify-content: center;
	margin: 150px;
	
}

.first-session p{

height: 205px;
margin-left: 150px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 40px;
color: #FFFFFF;
}
.first-session p img{
margin-left:25%;
}

.card {

display: flex;
justify-content: center;
	text-align: center;
}
.panelists-section .panelist{
	width: 100%;
	height: auto; 
	padding: 5px;

}

.panelists-section h2{
padding: 2em 0 2em;      
text-align: center;
letter-spacing: 6px;    
color: #06122C;   
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 52px;


}
.collaborators h2{
margin-top: 150px; 
text-align: center;
letter-spacing: 6px;    
color: #06122C;   
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 52px;

}

.panelist h3{
font-family: Poppins;
font-style: normal;
font-weight: bold;
text-transform: uppercase;
font-size: 20px;
line-height: 37px;
color: #F6C746;

}
.panelists-section p{
	
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #06122C;

}
.panelists-section span{
	
	font-weight: bold;
	color: #06122C;  
}

.collaborators .cards-collaborators{
padding: 5em 0 2em;
display: flex;
justify-content: center;
}

/*cuenta regresiva*/
.conte-clock{
	display: flex;
	justify-content: center;
}
.time-clock{
	
	width: 50%;
	height: 100px;
	padding: 2em 0 2em;
	 display: flex;
	justify-content: center;
	margin-bottom: 1px;
	font-size: 20px;
	color: #F6C746;
	background-color:#06122C;;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	
}
.time-clock p{
	
		font-family: 'Poppins';
		font-style: normal;
		text-transform: uppercase;
		color:#FFFFFF;
		font-weight: 300;
		font-size: 25px;
		line-height: 100px;
}

/* footer */

.footer-img img{
    width: 100%;
}

@media (max-width: 769px){

	.first-session {
	 overflow: hidden;	
     background-size: cover;
	 background-repeat: no-repeat;
	 
 
	}
	.session-contenedor{
		width: 100%;
	}
	.session-contenedor img{
		width: 100%;
	}

	.logo-title {
		margin: 0;
	}
	.logo-title img{
		max-width: 81%;
		margin-left: 7%;
		margin-top: 20%;
	}
	
	.first-session p{
		
		margin-top: 70px;
		width:auto;
		margin-left: 10px;
		font-size: 20px;
	}
	.panelists-section  h2{
		font-size: 30px;

	}
	.collaborators h2{
		
		font-size: 30px;
	}

	.card{
		flex-direction: column;
		margin-left: 50px;
	}
	.cards-collaborators{
		flex-direction: column;
		margin-left: 50px;
	
	}
	.cards-collaborators img{
		width: 70%;
	}
	.panelist img{
		margin-top: 50px;
	
	}
	.text img{
		display: none;
	}
	
	
	

	
	
	

	
	
}
